$primary50: #F4F6FC;
$primary100: #E1DBFF;
$primary200: #BDAFFF;
$primary500: #9782FF;
$primary700: #7B61FF;
$primary800: #442BC5;

$attention50: #FFE5E5;
$attention100: #FFCFCF;
$attention200: #FFA2A2;
$attention500: #FF7979;
$attention700: #FC4F4F;
$attention800: #C92222;
$attentionEmoji: #FF2B0E;

$success500: #4CC592;

$white: #FFF;
$neutral50: #f7f7f9;
$neutral100: #C8C8D0;
$neutral200: #9E9EA8;
$neutral300: #79797e;
$neutral500: #555560;
$neutral700: #262a41;
$black: #0A0C13;