@import '../scss/colors';
@import '../scss/misc';

.post {
  .skeleton-h3 {
    height: 1.75rem;
    width: 6rem;
    background: #eeeef0;
    border-radius: 0.5rem;
  }

  .skeleton-p {
    height: 1.25rem;
    width: 10rem;
    background: #eeeef0;
    border-radius: 0.5rem;
  }

  .skeleton-content {
    height: 1.65rem;
    width: 80%;
    background: #eeeef0;
    border-radius: 0.5rem;
  }

  &.skeleton {
    .content {
      display: grid;
      gap: 1rem;
    }
  }
}